(__website_errors) {
	handle_errors {
		@404 {
			expression {http.error.status_code} == 404
		}
		handle @404 {
			root /* public/
			rewrite * /404.html
			file_server
		}
	}
}

(website_portfolio) {
	encode gzip zstd

	root * {args.0}

	header /sass/* {
		Cache-Control "public, max-age=3600"
	}
	header /fonts/* {
		Cache-Control "public, max-age=86400"
	}
	header /img/* {
		Cache-Control "public, max-age=2628000"
	}
	header /*/images/* {
		Cache-Control "public, max-age=2628000"
	}

	file_server {
		hide 404.html
	}

	import __website_errors
}

(website_portfolio_staging) {
	@match {
		not path /robots.txt
	}
	basicauth @match {
		staging $2a$12$HKLw/lQfVgYbbhJQptnhJuvJMtbb6zCZyFjUh/iPZBs0p0G14rV2G #staging:staging
	}

	handle /*robots.txt {
		respond "
User-agent: *
Disallow: /"
	}

	root * {args.0}

	file_server {
		hide 404.html
	}

	import __website_errors
}

#http://127.0.0.1:1616 {
#	import website_portfolio_staging "public/"
#}

#http://127.0.0.1:1717 {
#	import website_portfolio "public/"
#}
